@charset "UTF-8";

/* 方面の国画像 Noimage  */
.wr-image-banner .bx-wrapper img {
    width:340px;
    height:255px;
    background-size:contain;
}

/* 国ページのマップ部分 Noimage */
.wr-banner2 .bx-wrapper img {
    width:550px;
    height:auto;
}

/* 都市画像 Noimage  */
.city .bx-wrapper img {
    width:960px;
    height:360px;
    background-size:contain;
}
/* イチオシツアー　*/
.osusume .slider-title{
    height: 45px;
}
.slider-title{
    max-height: 45px;
}
.slider-content {
    height: 39px;
}
.slider-price{
    height: 30px;
}
/* 拠点特集枠 */
.txt-point-title {
    font-size:16px;
}
/* フリープランの検索枠*/
#tab_ct_freeplan .simpleSrchBlk{
    min-height: 421px;
}
#tab_ct_freeplan .simpleSrchBlk .clBtn {position: absolute;bottom: 2px;right: 10px;}
#tab_ct_freeplan .simpleSrchBlk .clBtn a {font-size: 1.4rem;font-weight: 400;color: white;text-decoration: underline;}
#tab_ct_freeplan .tab-tt{position: relative;padding: 5px 0;}
/* お住まいの地域設定枠 */
.wrap_botBox01 {
    border-bottom: none;
}

/* 検索枠 */
.tab-content-search .tab-tt{
    font-size:16px;
}
/* 新着ツアー 最安値ツアー */
.find-tour span{
	font-size: 16px !important;
}
/* イチオシツアーの画像 */
.osusume li img{
    width: 380px;
	height: 285px;
    background: url(/sharing/common14/images/noimage390.png) no-repeat;
    background-size:contain;
}
/* イチオシツアーの金額 */
.osusume .slider-price{
	font-size: 18px;
}
/* 右側配置ブログのもっと見るボタン */
.btn_more_right {
    border: solid 1px #bbc3df;
    margin: 15px 20px;
    text-align: center;
}
.btn_more_right a {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    padding: 2px 11px ;
    color: #1d3597;
    text-align: center;
}
.btn_more_right span{
    font-size: 12px;
}
/* 最近見たツアー、おすすめツアー */
#historyWrapper h2,#ppz_recommend_kokunaitop h2{
    font-weight: bold;
    font-size: 24px;
}
/* 現地情報ブログ */
.charmGuideBtm{
	float:left;
}
.basicinfo_1 .aside.right{
	margin-bottom:60px;
}
/* クリスタルハート */
.group-crystal-num li {
    min-height:45px;
}
/* クリスタルハート */
.group-crystal-list li dd span{
	font-size:14px;
	font-weight:bold;
	color: #e60012;
}
/* ガイド枠 */
#AnimeImages {
	position:relative;
	height:386px;
}
#AnimeImages img{
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0.0;
}
#AnimeImages img.active {
	z-index:10;
	opacity:1.0;
}
#AnimeImages img.last-active {
	z-index:9;
}

#AnimeImg{
	position:relative;
	height:240px;
}

#AnimeImg img{
	position:absolute;
	top:0;
	left:0;
	z-index:8;
	opacity:0.0;
}
#AnimeImg img.active {
	z-index:10;
	opacity:1.0;
}
#AnimeImg img.last-active {
	z-index:9;
}
/* カレンダー */
.SubWinBox .SW_SD_Month td, .SubWinBox .SW_SD_Month th {
	width: 26px !important;
	height:29px !important;
}
