@charset "UTF-8";

/*---------------
該当ページ
http://www.hankyu-travel.com/europe　など
-----------------*/

/* 国内タイトル・SEO */
.kokunaiExpTtlBg {
	background:url(/attending/kokunai/images/kokunaiExpTtlBg.png) no-repeat;
	width:700px;
	height:55px;
	font-size:48px; font-size:4.8rem;
	color:#363636;
	padding:10px 0 0 40px;
	margin-bottom:5px;
	}

.kokunaiExpTtlBg h2 {
	font-size:48px; font-size:4.8rem;
	font-weight:normal;
	color:#363636;
	line-height:1;
}

.kokunaiExpTtlBg h2 span {
	font-size:24px; font-size:2.4rem;
	margin-left:12px;
}



/* 海外タイトル・SEO */
.kaigaiExpTtlBg {
	background:url(/attending/kaigai/images/kaigaiExpTtlBg.png) no-repeat;
	width:700px;
	height:55px;
	padding:10px 0 0 40px;
	margin-bottom:5px;
	}

.kaigaiExpTtlBg h2 {
	font-size:48px; font-size:4.8rem;
	font-weight:normal;
	color:#363636;
	line-height:1;
}

/* 海外タイトル・名称が長い場合の対応 */
.kaigaiExpTtlBg h2.s_title {
	font-size:38px; font-size:3.8rem;
}

.kaigaiExpTtlBg h2 span {
	font-size:24px; font-size:2.4rem;
	margin-left:12px;
}



/* タイトル画像 */
.ExpSeo { width:680px; height:auto; margin:0 auto 10px; font-size:12px; font-size:1.2rem; line-height:14px; line-height:1.4rem;}

.ExpBox { overflow:hidden; width:740px; height:auto; margin-bottom:20px;}
.ExpBox li { float:left;}
.Ttlp01, .Ttlp02, .Ttlp03, .Ttlp01L { margin-right:1px;}

/* ↓4分割　185×165画像トリミング用 */
li.Ttlp01 { width:185px; height:165px; overflow:hidden; text-align:center;}
li.Ttlp02 { width:184px; height:165px; overflow:hidden; text-align:center;}
li.Ttlp03 { width:184px; height:165px; overflow:hidden; text-align:center;}
li.Ttlp04 { width:184px; height:165px; overflow:hidden; text-align:center;}

.Ttlp01L img { width:265px; height:165px;}
.Ttlp02L img { width:474px; height:165px;}


/* おすすめテキスト */
.ballonOutBox {
	overflow:hidden;
	background:url(/sharing/common14/images/ballonBg.gif) top right no-repeat;
	width:740px;
	height:auto;
}
.ballonInBox {
	float:left;
	overflow:hidden;
	width:690px;
	height:auto;
	background-color:#e2f1f9;
	border:solid 1px #e2f1f9;
	border-radius:5px; /* CSS3 */
	-webkit-border-radius:5px; /* Safari,Google Chrome用 */
	-moz-border-radius:5px; /* Firefox用 */
	font-size:14px; font-size:1.4rem;
	margin:0 auto 20px;
	padding:10px;
	behavior:url(/sharing/common14/js/PIE.htc);
}

/* 地図・検索 */
.map360 .srchBg { padding-top:0;}
.srch360 .srchBg { padding-top:13px;}

/*.mapSrchBase .srchBg { padding-top:0;}
.mapSrchBase .srchBg div { padding-top:11px;}*/
.TopMap .mapSachInHeight,
.senSrchBg .mapSachInHeight { padding-top:11px; min-height:237px;}
.sprtCntBox360 .senFacetBg .mapSachHeight { min-height:237px;}

/* 近隣の出発地から探す */
/*.OtBox {
	background:url(/attending/kaigai/images/kaigaiSrchBg.png) no-repeat;
	width:360px;
	/*height:327px;*/
	padding-top:15px;
}

.OtBox dl { overflow:hidden; width:318px; height:auto; border-bottom:dotted 1px #a6a6a6; margin:0 auto 20px; padding-bottom:5px;}
.OtBox ul { overflow:hidden; width:318px; height:auto; border-bottom:dotted 1px #a6a6a6; margin:0 auto 5px; padding-bottom:5px;}

.otBtn { float:left;}
.OtBox dl .srchNum {
	float:right;
	font-size:14px; font-size:1.4rem;
	font-style:normal;
	padding-top:10px;
}

.srchNum em {
	font-size:20px; font-size:2.0rem;
	font-style:normal;
	font-weight:bold;
	color:#cc0000;
}

.srchNum span {
	font-size:14px; font-size:1.4rem;
	font-style:normal;
	color:#cc0000;
}

.otBtnEtc { clear:both; width:300px; height:25px; margin:0 auto; padding-top:5px;}
.otDTxt { width:300px; height:auto; margin:0 auto; font-size:12px; font-size:1.2rem; line-height:16px; line-height:1.6rem; margin-top:7px; padding-left:12px; padding-left:1.2rem; text-indent:-12px; text-indent:-1.2rem;}
.otherFacetEtcSelectpanel{ position:relative; padding:0; text-align:center;}
.OtBox .otherFacetEtcPanel{
	display:none;
	position:absolute;
	top:-75px;
	left:-200px;
	z-index:100;
	width:740px;
	margin-left:0px;
	background:#fff;
	border:2px solid #4b7eb9;
	color:#333333;
	padding-bottom:5px;
}

.OtBox .otherFacetEtcPanel p {
	background-color:#dceaf8;
	padding:10px;
	text-align:left;
	font-size:14px; font-size:1.4rem;
	line-height:16px; line-height:1.6rem;
	font-weight:bold;
	margin-bottom:10px;
}
.OtBox .otherFacetEtcPanel dl {
	overflow:hidden;
	width:708px;
	height:auto;
	border-bottom:dotted 1px #d1d1d1;
	margin:0 auto 5px;
	padding-bottom:5px;
}

.OtBox .otherFacetEtcPanel dl dt, .OtBox .otherFacetEtcPanel dl dd { float:left;}
.OtBox .otherFacetEtcPanel dl dt {
	width:140px;
	height:auto;
	font-size:14px; font-size:1.4rem;
	font-weight:bold;
	text-align:left;
	margin-right:10px;
	padding-left:5px;
}
.OtBox .otherFacetEtcPanel dl dd, .OtBox .otherFacetEtcPanel dl dd a {
	width:548px;
	height:auto;
	font-size:14px; font-size:1.4rem;
	font-weight:normal;
}
.OtBox .otherFacetEtcPanel dl dd ul {
	border:none;
	width:auto;
	height:auto;
	padding-bottom:0px;
	margin-bottom:0px;
}
.OtBox .otherFacetEtcPanel dl dd ul li {
	float:left;
	background:url(/sharing/common14/images/arrw01.png) 0 6px no-repeat;
	width:auto;
	height:auto;
	font-size:14px; font-size:1.4rem;
	text-align:left;
	padding-left:10px;
	margin-right:15px;
}
.OtBox .otherFacetEtcPanel a#Js_otherFacetEtcClose {
	clear:both;
	display:inline-block;
	background:url(/sharing/common14/images/Js_HatsuSelectPanelCloseBtn.png) right 9px no-repeat;
	padding:6px 15px 0 0;
	margin-bottom:5px;
}

.areaSeparete_spk, .areaSeparete_hkr, .areaSeparete_okj { float:left;}
.areaSeparete_spk { margin:15px 20px 0 18px;}
.areaSeparete_hkr { margin:15px 20px 0 0;}
.areaSeparete_okj { margin-top:15px;}
div.areaSeparete_spk dl:last-child {padding-bottom: 50px;}
div.areaSeparete_hkr dl:last-child {padding-bottom: 50px;}

.otBox740 {
	/*overflow:hidden;*/
	width:700px;
	height:auto;
	margin:0 auto;
	padding:10px 20px 10px;
}

.otBox740 dl {
	float:left;
	border-bottom:dotted 1px #a6a6a6;
	width:320px;
	height:auto;
	margin:0 0 10px 20px;
	padding-bottom:10px;
}

.otBox740 dl .srchNum {
	float:right;
	font-size:14px; font-size:1.4rem;
	font-style:normal;
	padding-top:10px;
}

.otBox740 .otherFacetEtcPanel{
	display:none;
	position:absolute;
	top:-75px;
	left:-20px;
	z-index:200;
	width:736px;
	margin-left:0px;
	background:#fff;
	border:2px solid #4b7eb9;
	color:#333333;
	padding:0 0 5px;
}

.otBox740 .otherFacetEtcPanel p {
	background-color:#dceaf8;
	padding:10px;
	text-align:left;
	font-size:14px; font-size:1.4rem;
	line-height:16px; line-height:1.6rem;
	font-weight:bold;
	margin-bottom:10px;
}


.otBox740 .otherFacetEtcPanel dl {
	float:none;
	overflow:hidden;
	width:708px;
	height:auto;
	/*border-bottom:dotted 1px #4c4c4c;*/
	margin:0 auto 5px;
	padding-bottom:5px;
}

.otBox740 .otherFacetEtcPanel dl dt, .otBox740 .otherFacetEtcPanel dl dd { float:left;}
.otBox740 .otherFacetEtcPanel dl dt {
	width:140px;
	height:auto;
	font-size:14px; font-size:1.4rem;
	font-weight:bold;
	text-align:left;
	margin-right:10px;
	padding-left:5px;
}

.otBox740 .otherFacetEtcPanel dl dd, .otBox740 .otherFacetEtcPanel dl dd a {
	width:548px;
	height:auto;
	font-size:14px; font-size:1.4rem;
	font-weight:normal;
}

.otBox740 .otherFacetEtcPanel dl dd ul {
	border:none;
	width:auto;
	height:auto;
	padding-bottom:0px;
	margin-bottom:0px;
}

.otBox740 .otherFacetEtcPanel dl dd ul li {
	float:left;
	background:url(/sharing/common14/images/arrw01.png) 0 6px no-repeat;
	width:auto;
	height:auto;
	font-size:14px; font-size:1.4rem;
	text-align:left;
	padding-left:10px;
	margin-right:15px;
}

.otBox740 .otherFacetEtcPanel a#Js_otherFacetEtcClose {
	clear:both;
	display:inline-block;
	background:url(/sharing/common14/images/Js_HatsuSelectPanelCloseBtn.png) right 9px no-repeat;
	padding:6px 15px 0 0;
	margin-bottom:5px;
}



/* おすすめ動画 */
.recoMovBox { clear:both; width:740px; height:auto; background:url(/sharing/common14/images/recoMovTop.gif) top no-repeat; margin-bottom:25px; padding-top:10px;}
.recoMovSbBox {	width:740px; height:auto; background:#fff3db url(/sharing/common14/images/recoMovBtm.gif) bottom no-repeat; padding-bottom:10px;}
.recoMovMdl { overflow:hidden; border-left:solid 1px #d4d4d4; border-right:solid 1px #d4d4d4; padding:5px 0;}
h2.recoMovMds { float:left; width:179px; height:35px;}

p.recoMovTxt {
	float:left;
	width:150px;
	height:auto;
	font-size:14px; font-size:1.4rem;
	margin:10px 0 0 20px;
	color:#333333;
	}

.bxslider-view { overflow:hidden; background-color:#fff; width:500px; height:auto;}
.bxslider {}

#bxsliderSenmon{outline: 0;}
#bxsliderSenmon .bxslider-view {position: relative;margin: 0;width: 500px;height:auto; padding:15px 0 10px;}

.bxslider-container {position: absolute;top:15px;left: 0;}
.bxslider-container div {position: relative;float: left;width: 500px;height: auto; padding:0 15px;}

#bxsliderSenmon { float:right; position:relative; margin-right:30px;}
#bxsliderSenmon dl { float:left; width:150px; height:auto; margin-right:10px;}
#bxsliderSenmon dl dt { width:150px; height:auto; font-size:12px; font-size:1.2rem; line-height:16px; line-height:1.6rem; font-weight:bold; text-align:center; word-break:break-all;}
#bxsliderSenmon dl dd { width:150px; height:110px;}
#bxsliderSenmon .bxslider-prev,#bxsliderSenmon .bxslider-next { position:absolute; top:50px; cursor:pointer;}
.bxslider-prev { left:-13px;}
.bxslider-next { right:-13px;}


/* お住まいの地域 */
.slectAreaBotBox { clear:both; position:relative; background:url(/sharing/common14/images/slectAreaBotBg.gif) no-repeat; width:685px; height:46px; padding:12px 15px 12px 40px; margin-bottom:30px;}
.slectAreaBotTxt { float:left; font-size:16px; font-size:1.6rem; line-height:24px; line-height:2.4rem; color:#fff;}
.slectAreaBotBtn { float:right;}
.Js_AreaSelectPanel{
	display:none;
	position:absolute;
	top:65px;
	left:120px;
	width:496px;
	background:#fff;
	border:2px solid #4b7eb9;
	color:#333333;
	z-index:150;
	padding-bottom:5px;
	margin-left: 0px;
	text-align:center;
}

.Js_AreaSelectPanel p {
	background-color:#dceaf8;
	padding:10px;
	text-align:left;
	font-size:12px; font-size:1.2rem;
	line-height:16px; line-height:1.6rem;
}
.Js_AreaSelectPanel dl {
	overflow:hidden;
	width:130px;
	height:auto;
	border-bottom:dotted 1px #4c4c4c;
	margin:0 10px 5px 0;
	padding-bottom:5px;
	}
.Js_AreaSelectPanel dl dt, .Js_AreaSelectPanel dl dd {
	float:left;
}
.Js_AreaSelectPanel dl dt {
	width:60px;
	height:auto;
	font-size:12px; font-size:1.2rem;
	font-weight:bold;
	text-align:left;
	margin-right:10px;
}
.Js_AreaSelectPanel dl dd {
	width:60px;
	height:auto;
	font-size:12px; font-size:1.2rem;
	font-weight:bold;
}
.Js_AreaSelectPanel dl dd ul {
}
.Js_AreaSelectPanel dl dd ul li {
	background:url(/sharing/common14/images/arrw01.png) 0 6px no-repeat;
	text-align:left;
	padding-left:10px;
}
.Js_AreaSelectPanel a#Js_AreaSelectPanelClose {
	clear:both;
	display:inline-block;
	background:url(/sharing/common14/images/Js_HatsuSelectPanelCloseBtn.png) right 9px no-repeat;
	padding:5px 15px 0 0;
}


/* 出発地ごとの情報を見る */
.dptinfoSbBox dl { overflow:hidden; border-bottom:dotted 1px #d1d1d1; padding-bottom:5px; margin-bottom:5px;}
.dptinfoSbBox dl dt, .dptinfoBotSbBox dl dd, .dptinfoBotSbBox dl dd a { float:left; font-size:14px; font-size:1.4rem;}
.dptinfoSbBox dl dt { width:140px; height:auto; font-weight:bold; margin-right:20px;}
.dptinfoSbBox dl dd { width:708px; height:auto;}
.dptinfoSbBox dl dd ul { overflow:hidden; width:auto; height:auto;}
.dptinfoSbBox dl dd ul li { float:left; width:auto; height:auto; background:url(/sharing/common14/images/arrw01.png) 0px 6px no-repeat; padding-left:10px; margin-right:15px; white-space:nowrap;}
.dptinfoSbBox dl dd ul li a { font-size:14px; font-size:1.4rem;}


/* 担当者オススメ */
.recommend740 .commonBox740 { width:740px; height:auto; background:url(/sharing/common14/images/recommendBtm.png) bottom no-repeat; padding-bottom:10px;}
.recommend740 .commonSbBox740 { width:738px; padding:0;}

.recoTourBox { clear:both; width:740px; height:auto; background:url(/sharing/common14/images/recommendBtm.gif) bottom no-repeat; margin-bottom:15px; padding-bottom:20px;}
.recoTourSbBox {	overflow:hidden; width:738px; height:auto; border-left:solid 1px #d1d1d1; border-right:solid 1px #d1d1d1;}
h2.recoTourBg { background:url(/sharing/common14/images/recommendBg.gif) no-repeat; width:670px; height:32px; font-size:18px; font-size:1.8rem; color:#333333; padding:13px 0 0 70px;}

.recoTourBlk { width:738px; height:auto; border-bottom:solid 1px #d1d1d1; margin:15px 0 0 0;}
.recoTourBlk dl.recoTourImgBox,
.recoTourBlk dl.recoTourTxtBox { overflow:hidden; width:708px; height:auto; background:url(/sharing/common14/images/tourBgBtn.png) center right no-repeat; margin:0 auto 15px;}
.recoTourBlk dl.recoTourImgBox dt { float:right; width:508px; height:auto; font-size:16px; font-size:1.6rem; color:#1d3994; text-align:left; padding-right:30px;}
.recoTourBlk dl.recoTourTxtBox dt { width:668px; height:auto; font-size:16px; font-size:1.6rem; color:#1d3994; text-align:left; padding-right:40px;}
.recoTourImg { float:left; background:url(/sharing/common14/images/tourNoimg.png) no-repeat; width:160px; height:120px; margin-right:10px;}
.recoTourImg img { width:160px; height:120px;}
.recoTourTxt { float:right; width:508px; height:auto; font-size:14px; font-size:1.4rem; text-align:left; padding:5px 30px 0 0;}
.recoTourBlk dl.recoTourImgBox .recoTourPrice { float:right; width:538px; height:auto; font-size:14px; font-size:1.4rem; font-weight:bold; color:#cc0000; text-align:left; padding-top:10px;}
.recoTourBlk dl.recoTourTxtBox .recoTourPrice { width:668px; height:auto; font-size:14px; font-size:1.4rem; font-weight:bold; color:#cc0000; text-align:right; padding-top:10px;}

.recoTourBlk a {
	cursor:pointer;
	overflow:hidden;
	display:block;
	width:738px;
	height:auto;
	color:#1d3994;
	text-decoration:none;
}

.recoTourBlk a:link  dl.recoTourImgBox dt, .recoTourBlk a:link  dl.recoTourTxtBox dt{
	font-weight:bold;
	color:#1D3994;
	text-decoration:none;
}

.recoTourBlk a:visited  dl.recoTourImgBox dt, .recoTourBlk a:visited  dl.recoTourTxtBox dt {
	font-weight:bold;
	color:#9933CC;
	text-decoration:underline;
}

.recoTourBlk a:hover dl.recoTourImgBox dt, .recoTourBlk a:hover dl.recoTourTxtBox dt {
	font-weight:bold;
	color:#FF9933;
	text-decoration:underline;
}


.recoTourBlk a:hover dl.recoTourImgBox .recoTourImg {
	filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
}

.recoTourTotal { position:relative; width:738px; height:auto; background-color:#d0ebf8; padding:15px 0 5px;}
.recoTourTotal p.tourNumList { text-align:center;}
.recoTourTotal em {
	font-size:14px; font-size:1.4rem;
	font-style:normal;
	font-weight:bold;
}
.recoTourTotal span {
	color:#CE3233;
	font-size:20px; font-size:2rem;
	font-style:normal;
}
.recoTourTotal p.tourAlBtn { position:absolute; bottom:3px; right:10px;}


.recoTourBotBlk { width:738px; height:auto; border-bottom:solid 1px #d1d1d1; margin:15px 0 0 0;}
.recoTourBotBlk dl.recoTourBotTxtBox { overflow:hidden; width:708px; height:auto; background:url(/sharing/common14/images/tourBgBtn.png) center right no-repeat; margin:0 auto 15px;}
.recoTourBotBlk dl dt, .recoTourBotBlk dl dd { float:left;}
.recoTourBotBlk dl.recoTourBotTxtBox dt { width:388px; height:auto; font-size:16px; font-size:1.6rem; color:#1d3994; text-align:left; padding:3px 0px 3px 10px;}
.recoTourBotTxt { float:right; width:508px; height:auto; font-size:14px; font-size:1.4rem; text-align:left; padding:5px 30px 0 0;}
.recoTourBotBlk dl.recoTourBotTxtBox .recoTourBotPrice { width:190px; height:auto; font-size:14px; font-size:1.4rem; font-weight:bold; color:#cc0000; text-align:right; padding:3px 0px;}
.recoTourBotDep01 {
	display:inline-block;
	background-color:#45a4e0;
	width:60px;
	height:auto;
	padding:3px 10px;
	/*margin-bottom:5px;*/
	font-size:14px; font-size:1.4rem;
	color:#fff;
	text-align:center;
	}

.recoTourBotBlk a {
	cursor:pointer;
	overflow:hidden;
	display:block;
	width:738px;
	height:auto;
	color:#1d3994;
	text-decoration:none;
}

.recoTourBotBlk a:link  dl.recoTourBotTxtBox dt{
	font-weight:bold;
	color:#9933CC;
	text-decoration:none;
}

.recoTourBotBlk a:visited  dl.recoTourBotTxtBox dt {
	font-weight:bold;
	color:#9933CC;
	text-decoration:underline;
}

.recoTourBotBlk a:hover dl.recoTourBotTxtBox dt {
	font-weight:bold;
	color:#FF9933;
	text-decoration:underline;
}


/* 人気のキーワード */
.keyword760 .commonSbBox740 { padding-top:0;}

.popularSbBox ul { overflow:hidden; width:auto; height:auto; margin-top:15px;}
.popularSbBox ul li { float:left; width:auto; height:auto; font-size:14px; font-size:1.4rem; white-space:nowrap; margin:0 15px 10px 0;}
.popularSbBox ul li a { font-size:14px; font-size:1.4rem;}



/* 魅力の国々（観光情報） */
.charmBox { clear:both; width:740px; height:auto; background:url(/sharing/common14/images/charmBtm.gif) bottom no-repeat; margin-bottom:15px; padding-bottom:20px;}
.charmGuideBtm { clear:both; width:740px; height:auto; background:url(/sharing/common14/images/charmGuideBtm.png) bottom no-repeat; margin-bottom:25px; padding-bottom:8px;}
.charmSbBox {overflow:hidden;width: 740px;height:auto;border-left:solid 1px #6eb769;border-right:solid 1px #6eb769;padding-top:15px;}
.charmBg { position:relative; background:url(/sharing/common14/images/charmBg.gif) no-repeat; width:740px; height:46px;}
.guideMdsPos { position:absolute; top:11px; left:62px;}
.charmBg h3 {width:auto;height: 36px;background:url(/sharing/common14/images/guideMdsRbn.png) right no-repeat;padding-right:15px;}
.charmBg h3 span { display:block; background-color:#00ac42; font-size:18px; font-size:1.8rem; color:#fff; padding:7px 10px 8px 0;}
h3.charmBg span { font-size:12px; font-size:1.2rem; color:#41b33a; margin-left:12px;}

.SiIfoEa {
	width:345px;
	height:auto;
}
.SiIfoEa dt {
	background-color:#e6f3e5 !important;
	border-radius:12px; /* CSS3 */
	-webkit-border-radius:12px; /* Safari,Google Chrome用 */
	-moz-border-radius:12px; /* Firefox用 */
	display:block;
	font-size:14px; font-size:1.4rem;
	line-height:24px;	line-height:2.4rem;
	font-weight:bold;
	width:345px;
	height:auto;
	text-align:center;
	margin-bottom:5px;
	behavior:url(/sharing/common14/js/PIE.htc);
}
.SiIfoEa .Photo {
	float:right;
	background:url(/sharing/common14/images/noimage140.png) no-repeat;
	background-size:140px 105px;
	width:140px;
	height:105px;
}

.SiIfoEa .Photo img{
	width:140px;
}
.SiIfoEa .Cap {
	float:left;
	width:195px;
	height:auto;
	font-size:12px; font-size:1.2rem;
	margin:0 0 5px 5px;
}
.SiIfoTGbtn {
	float:left;
	width:195px;
	height:auto;
}
.SiIfoTGbtn a {
	display:block;
	float:left;
	width:85px;
	height:19px;
	margin-left:10px;
}

.SiIfoNa {
	overflow:hidden;
	width:708px;
	height:auto;
	margin-bottom:20px;
}

.SiIfoNa .Cap {
	float:left;
	width:285px;
	height:auto;
	font-size:14px; font-size:1.4rem;
	line-height:20px; line-height:2.0rem;
}

.SiIfoNa .Photo {
	background:url(/sharing/common14/images/tourNoimg.png) no-repeat;
	background-size:240px 180px;
	float:left;
	width:240px;
	height:180px;
	margin-left:10px;
}

.SiInfoFlg {
	float:left;
	width:130px;
	height:auto;
	padding-left:20px;
	margin-left:20px;
	border-left:1px dashed #cccccc;
	color:#334866;
}
.SiInfoFlg dt {
	text-align:center;
	padding-bottom:7px;
	padding-left:10px;
	width:95px;
	height:64px;
}
.SiInfoFlg dt.SFlg {
	height:50px;
}

.SiInfoFlg dd {
	text-align:center;
	color:#334866;
}
.SiInfoFlgTxt {
	text-align:left;
	font-size:10px; font-size:1.0rem;
}
.SiInfoFlg .SiInfoFlgTxt {
	text-align:left;
	font-size:10px;
	color:#777777;
}

/*タイトル「観る」*/

.InfoCity {
	clear:both;
	overflow:hidden;
	width:708px;
	height:auto;
	margin:0 auto 10px;
}

.InfoCity .Ttl {
	background:url(/sharing/common14/images/guideIcn01.gif) no-repeat;
	width:623px;
	padding-left:85px;
	line-height:23px;
	color:#4bab4d;
	font-size:16px; font-size:1.6rem;
	font-weight:bold;
	vertical-align:middle;
	margin-bottom:5px;
	border-bottom:double 3px #4bab4d;
}
.InfoCity .InfoTtl {
	text-indent:-9999px;
}
.InfoCityBox {
	clear:both;
	width:720px;
	height:auto;
}

/*写真右　タイトル・キャプション左*/

.CityGuide {
	overflow:hidden;
	width:345px;
	height:auto;
	margin-bottom:20px;
}
.CityGuide dd.Photo {
	background:url(/sharing/common14/images/tourNoimg.png) no-repeat;
	background-size:140px 105px;
	float:left;
	width:140px;
	height:105px;
}

.CityGuide dd.Photo img{
	width:140px;
	height:105px;
}

.CityGuide dt {
	display:block;
	background-color:#e6f3e5 !important;
	border-radius:12px; /* CSS3 */
	-webkit-border-radius:12px; /* Safari,Google Chrome用 */
	-moz-border-radius:12px; /* Firefox用 */
	width:345px;
	height:auto;
	font-size:14px; font-size:1.4rem;
	line-height:24px;	line-height:2.4rem;
	font-weight:bold;
	margin-bottom:5px;
	text-align:center;
	behavior:url(/sharing/common14/js/PIE.htc);
}

.CityGuide dt.line2 {
	height:38px;
}

.CityGuide dd.Cap {
	float:right;
	width:190px;
	height:auto;
	font-size:12px; font-size:1.2rem;
}

.CityGuide dd.link {
	float:right;
	width:210px;
	height:auto;
	text-align:right;
}

/*タイトル「今が旬」*/

.InfoSeason {
	clear:both;
	width:710px;
	height:auto;
}
.InfoSeason .Ttl {
	background:url(/sharing/common14/images/guideIcn02.gif) no-repeat;
	width:623px;
	padding-left:85px;
	line-height:23px;
	color:#4bab4d;
	font-size:16px; font-size:1.6rem;
	font-weight:bold;
	vertical-align:middle;
	margin-bottom:5px;
	border-bottom:double 3px #4bab4d;
}
.InfoSeason .InfoTtl {
	text-indent:-9999px;
}
.InfoSeasonBox {
	clear:both;
	width:708px;
	height:auto;
}

.InfoSeason .CityGuide {
	width:708px;
}

.InfoSeason .CityGuide dt {
	float:left;
	background:url(/sharing/common14/images/bnExpBg02.png) no-repeat;
	width:558px;
	margin-left:10px;
	padding-top:1px;
}

.InfoSeason .CityGuide dd.Cap {
	float:left;
	width:558px;
	padding-left:10px;
}

/*　写真5枚横並び　海外　旅にプラスα*/

.SiIfoPlus {
	width:720px;
	height:auto;
	margin-bottom:20px;
}
.SiIfoPlus .Ttl {
	background:url(/sharing/common14/images/guideIcn05.gif) no-repeat;
 	width:623px;
	padding-left:85px;
	line-height:23px;
	color:#4bab4d;
	font-size:16px; font-size:1.6rem;
	font-weight:bold;
	margin-bottom:5px;
	border-bottom:double 3px #4bab4d;
}
.SiIfoPlus dl {
	width:140px;
	height:auto;
	float:left;
}
.SiIfoPlus .Photo {
	background:url(/sharing/common14/images/tourNoimg.png) no-repeat;
	background-size:135px 100px;
	width:135px;
	height:100px;
}

.SiIfoPlus .Photo img{
	width:135px;
	height:100px;
}

.SiIfoPlus dd {
	width:135px;
	font-size:10px;
	line-height:1.8em;
}

/*タイトル　食べる、豆情報、トライグルメ、インフォBIS、食べる、豆ガイド、ご当地名物、豆ガイド、情報BIS*/

.SiInfoB {
	width:345px;
	height:auto;
	margin-bottom:20px;
}
.SiInfoB dl {
	float:left;
	width:345px;
	height:auto;
}
.SiInfoB .Cap {
	float:left;
	width:195px;
	height:auto;
	font-size:12px; font-size:1.2rem;
}

.SiInfoB .Photo {
	float:right;
	height:105px;
	width:140px;
}

.SiInfoB .Photo img{
	width:140px;
	height:105px;
}
.SiInfoB dt.Try,.SiInfoB dt.Bis,.SiInfoB .Bis,.SiInfoB dt.FodTtlI,.SiInfoB .FodTtlI,.SiIfoKnow dt.MameTtlI,.SiIfoKnow dt.MameTtlD,.SiInfoB dt.MameTtlI,.SiInfoB .MameTtlI,.SiInfoB dt.SiIfoSpPro,.SiInfoB dt.MameTtlD,.SiInfoB .MameTtlD,.SiInfoB dt.FodTtlD ,.SiInfoB .FodTtlD  {
	color:#4bab4d;
	font-size:16px; font-size:1.6rem;
	font-weight:bold;
	margin-bottom:10px;
	padding-left:85px;
}
.SiInfoB dt.Try {
	background:url(/sharing/common14/images/guideIcn06.gif) no-repeat;
	border-bottom:3px double #4BAB4D;
	width:260px;
	line-height:23px;
	color: #4BAB4D;
	font-size:16px; font-size:1.6rem;
	font-weight:bold;
	margin-bottom:5px;
	padding-left:85px;
}
/*.Try { font-size:10px; font-size:1.0rem; color:#fff; line-height:1; padding:5px 5px 5px 30px; margin-right:5px;}*/

.SiInfoB dt.Bis {
	width:280px;
	line-height:36px;
	background-position:0 -900px;
	padding-left:70px;
}

.SiInfoBis {
    height: auto;
    width: 345px;
}
.SiInfoBis dl {
	overflow:hidden;
    float: left;
    height: auto;
    width: 344px;
}
.SiInfoBis dl.BisI {
	background:#ccefda url(/attending/kaigai/images/guideBisBtm.gif) bottom no-repeat;
	padding-bottom:10px;
	margin-bottom:15px;
}

.SiInfoBis dl.BisI dt {
	background:url(/attending/kaigai/images/guideBisTtl.gif) no-repeat;
}

.SiInfoBis dl.BisI dd.Photo {
	background:url(/sharing/common14/images/tourNoimg100.png) no-repeat;
}
.SiInfoBis dl.BisI dd.Photo img {
    width: 100px;
}


.SiInfoBis dl.BisI dt {
    color: #00ad44;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    padding:10px 0 10px 90px;
    width: 254px;
}

.SiInfoBis dl.NoBis {
	background:url(/attending/kaigai/images/guideNoBisBg.png) no-repeat;
}

.SiInfoBis dl.NoBis dt {
    color: #00ad44;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 5px;
    padding-left: 8px;
    width: 245px;
}


.SiInfoBis dl.BisD {
    background-position: 0 -1650px;
}

.SiInfoBis dl.BisD dt {
    color: #80430E;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 5px;
    padding-left: 10px;
    width: 327px;
}
.SiInfoBis .Txt {
    float: left;
    font-size: 12px; font-size:1.2rem;
    height: auto;
    padding-left: 10px;
    width: 210px;
}
.SiInfoBis .Photo {
    background-position: -350px -1870px;
    float: left;
    height: 75px;
    margin-bottom: 3px;
    /*padding-left: 10px;*/
    width: 100px;
}

.SiInfoBis .Photo img{
    width: 100px;
}

.SiInfoBis .Cap {
    float: left;
    font-size: 10px;
    height: auto;
    line-height: 14px;
    padding-left: 10px;
    width: 100px;
}

.SighInfo {
    clear: both;
    height: auto;
    width: 708px;
		margin:0 auto;
}
.SiIfoTtl {
    background-position: 0 0;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    width: 705px;
}
.SighInfo .SiIfoCap {
	font-size:12px; font-size:1.2rem;
    height: auto;
    margin: 0 auto 20px;
    width: 685px;
}
.SiIfoEaCy {
    height: auto;
    width: 720px;
}
.SiIfoEaCy .Cap {
    float: left;
    font-size: 14px;
    height: auto;
    line-height: 140%;
    padding-left: 10px;
    width: 278px;
}
.SiIfoEaCy .Photo {
    background-position: 0 -2070px;
    float: left;
    height: auto;
    margin-left: 10px;
    width: 200px;
}

.SiIfoEaCy .Photo img{
    width: 200px;
}


.SiIfoEaCy .Photo dt {
    display: block;
    height: 150px;
    width: 200px;
		background:url(/sharing/common14/images/noimage200.png) no-repeat;
}
.SiIfoEaCy .Photo dd {
    font-size: 10px;
}


/*タイトル「概要」*/

.SiSummary {
	clear:both;
	width:708;
	height:auto;
}

.SiSummary .Ttl {
	background:url(/sharing/common14/images/guideIcn08.gif) no-repeat;
	width:623px;
	padding-left:85px;
	line-height:23px;
	color:#4bab4d;
	font-size:16px; font-size:1.6rem;
	font-weight:bold;
	vertical-align:middle;
	margin-bottom:10px;
	border-bottom:double 3px #4bab4d;
}

.SiInfoCity {
    height: auto;
    width: 708px;
	margin-bottom:15px;
}

.SiInfoFlgSum {
    border-left: 1px dashed #CCCCCC;
    color: #334866;
    float: right;
    height: auto;
    margin-left: 20px;
    padding-left: 20px;
    width: 125px;
}

.SiInfoFlgSum dt,.SiInfoFlgSum dd  {
    text-align: center;
}

.CityTxt {
    float: left;
	font-size:14px; font-size:1.4rem;
    height: auto;
    width: 530px;
}

.CityList {
    display: inline;
    float: left;
    height: auto;
    margin-left: 10px;
    width: 510px;
}

.CityList li{
	border-left: 5px solid #cccccc;
	font-size:10px; font-size:1.0rem;
	margin-bottom:5px;
	padding-left: 5px;
}

/* ガイド　国旗アイコン */
.SiIfoEa dt.France { background:url(/attending/kaigai/images/flag_europe.png) 0 0 no-repeat;}
.SiIfoEa dt.Britain { background:url(/attending/kaigai/images/flag_europe.png) 0 -26px no-repeat;}
.SiIfoEa dt.Italy { background:url(/attending/kaigai/images/flag_europe.png) 0 -52px no-repeat;}
.SiIfoEa dt.Switzerland { background:url(/attending/kaigai/images/flag_europe.png) 0 -79px no-repeat;}
.SiIfoEa dt.Germany { background:url(/attending/kaigai/images/flag_europe.png) 0 -105px no-repeat;}
.SiIfoEa dt.Netherlands { background:url(/attending/kaigai/images/flag_europe.png) 0 -131px no-repeat;}
.SiIfoEa dt.Belgium { background:url(/attending/kaigai/images/flag_europe.png) 0 -157px no-repeat;}
.SiIfoEa dt.Spain { background:url(/attending/kaigai/images/flag_europe.png) 0 -183px no-repeat;}
.SiIfoEa dt.Ireland { background:url(/attending/kaigai/images/flag_europe.png) 0 -629px no-repeat;}
.SiIfoEa dt.Malta { background:url(/attending/kaigai/images/flag_europe.png) 0 -708px no-repeat;}
.SiIfoEa dt.Greece { background:url(/attending/kaigai/images/flag_europe.png) 0 -656px no-repeat;}
.SiIfoEa dt.Portugal { background:url(/attending/kaigai/images/flag_europe.png) 0 -682px no-repeat;}
.SiIfoEa dt.Russia { background:url(/attending/kaigai/images/flag_europe.png) 0 -736px no-repeat;}

/* ガイド　追加分アイコン */
.FodTtlI,.FodTtlD { background:url(/sharing/common14/images/guideIcn03.gif) no-repeat; font-size:16px; font-size:1.6rem; color:#4bab4d; line-height:23px; border-bottom:double 3px #4bab4d;}
.MameTtlI,.MameTtlD { background:url(/sharing/common14/images/guideIcn04.gif) no-repeat; font-size:16px; font-size:1.6rem; color:#4bab4d; line-height:23px; border-bottom:double 3px #4bab4d;}
.SiIfoSpPro { background:url(/sharing/common14/images/guideIcn07.gif) no-repeat; font-size:16px; font-size:1.6rem; color:#4bab4d; line-height:23px; border-bottom:double 3px #4bab4d;}

.BitsNobg { background:url(/sharing/common14/images/guideIcn11.gif) no-repeat; font-size:16px; font-size:1.6rem; color:#4bab4d; line-height:23px; border-bottom:double 3px #4bab4d;}

.SIBOneBox .FodTtlI, .SiInfoB .FodTtlD, .SIBOneBox .MameTtlI, .SIBOneBox .SiIfoSpPro{ margin-bottom:5px; padding-left:85px;}
.SiInfoB .BitsNobg{ margin-bottom:5px; padding-left:85px; padding-bottom:2px;}
.btnMoreGuide {width: 708px;height:auto;text-align:right;margin:0 auto;}


/* 現地情報ブログ */
.blog740 div.h3Mds740k01 p { width:118px; height:24px;}
.blog740 li { background:url(/sharing/common14/images/arrw01.gif) 0 6px no-repeat; width:698px; height:auto; padding:0 0 5px 10px; margin-bottom:5px; border-bottom:dotted 1px #d1d1d1;}
.blog740 li a { display:block; overflow:hidden; width:698px; height:auto; font-size:14px; font-size:1.4rem; line-height:18px; line-height:1.8rem; white-space:nowrap; text-overflow:ellipsis;}


/* 関連リンク */
.linkBox {
	overflow:hidden;
	width:738px;
	height:auto;
	border:solid 1px #dbdbdb;
	border-radius:7px; /* CSS3 */
	-webkit-border-radius:7px; /* Safari,Google Chrome用 */
	-moz-border-radius:7px; /* Firefox用 */
	margin-bottom:30px;
	padding-bottom:10px;
	behavior:url(/sharing/common14/js/PIE.htc);
	}

h4.linkBg {
	width:723px;
	height:auto;
	border-top-left-radius:7px; /* CSS3 */
	-webkit-border-top-left-radius:7px; /* Safari,Google Chrome用 */
	-moz-border-radius-topleft:7px;	background:url(/sharing/common14/images/bg01.gif) repeat; /* Firefox用 */
	border-top-right-radius:7px; /* CSS3 */
	-webkit-border-top-right-radius:7px; /* Safari,Google Chrome用 */
	-moz-border-radius-topright:7px; background:url(/sharing/common14/images/bg01.gif) repeat; /* Firefox用 */
	border-bottom:solid 1px #dbdbdb;
	font-size:14px; font-size:1.4rem;
	color:#4c4c4c;
	padding:8px 0 8px 15px;
	behavior:url(/sharing/common14/js/PIE.htc);
	}

.linkBox dl { float:left; width:339px; height:auto; margin:10px 0 0 30px;}
.linkBox dl dt { border-left:solid 3px #45A4E0; font-size:14px; font-size:1.4rem; font-weight:bold; line-height:16px; color:#4c4c4c; padding-left:5px; margin-bottom:5px;}
.linkBox dl dd { font-size:12px; font-size:1.2rem;}

.linkBox ul { width:339px; height:auto; margin:0 auto;}
.linkBox ul li { background:url(/sharing/common14/images/arrw01.gif) 0 6px no-repeat; font-size:12px; font-size:1.2rem; padding-left:10px; white-space:nowrap;}
.linkBox ul li a { font-size:12px; font-size:1.2rem;}

.kanren_d dl { width:689px; height:auto;}
.kanren_d dl dd { width:689px; height:auto;}
.kanren_d dl dd ul { float:left; width:689px; height:auto;}
.kanren_d dl dd ul li { float:left; width:334px; height:auto;}


.notext { width:660px; font-size:14px; font-size:1.4rem; margin:0 auto 20px; border-bottom:solid 1px #D1D1D1; padding-bottom:5px; font-weight:bold;}
.facetZero { width:738px; background-color:#D0EBF8; height:auto; font-size:14px; font-size:1.4rem; text-align:center; margin-bottom:20px; padding:10px 0; border:solid 1px #D1D1D1; font-weight:bold;}

/* 20140912バナー枠追加 */
.bannerBox {
	overflow:hidden;
	width:738px;
	height:auto;
	border:solid 1px #dbdbdb;
	border-radius:7px; /* CSS3 */
	-webkit-border-radius:7px; /* Safari,Google Chrome用 */
	-moz-border-radius:7px; /* Firefox用 */
	margin-bottom:30px;
	padding-bottom:10px;
	behavior:url(/sharing/common14/js/PIE.htc);
	}

h4.bannerBg {
	width:723px;
	height:auto;
	border-top-left-radius:7px; /* CSS3 */
	-webkit-border-top-left-radius:7px; /* Safari,Google Chrome用 */
	-moz-border-radius-topleft:7px;	/*background:url(/sharing/common14/images/bg01.gif) repeat;*/ /* Firefox用 */
	border-top-right-radius:7px; /* CSS3 */
	-webkit-border-top-right-radius:7px; /* Safari,Google Chrome用 */
	-moz-border-radius-topright:7px; /*background:url(/sharing/common14/images/bg01.gif) repeat;*/ /* Firefox用 */
	border-bottom:solid 1px #dbdbdb;
	font-size:14px; font-size:1.4rem;
	color:#ffffff;

	padding:8px 0 8px 15px;
	background-color:#003473;
	/*behavior:url(/sharing/common14/js/PIE.htc);*/
	}


.Guidebnwaku {height: auto; overflow: hidden; width:718px; margin:10px 10px 0 10px;}

.Guidebnwaku dt.bannerwaku {float:left; width:340px; height:auto;}

.Guidebnwaku dt.bannerwaku img{ width::340px; height:120px;}

.Guidebnwaku dt.bannerwaku span{width:340px; height:auto; text-align:center; display:block;}

.Guidebnwaku dt.bannerwaku span a{font-size: 1.4rem; font-size:14px;}

.bnmidashi{float:left; font-size:1.4rem; font-size:14px; height:auto; width:368px; font-weight:bold; margin-left:10px; text-align:center; background-color: #004ba6 !important; line-height: 2.4rem; margin-bottom: 5px; color:#FFFFFF;}

.bnwakutxt{float:left; font-size:1.2rem; font-size:12px; height:auto; width:368px; margin-left:10px;}

/* 20140912バナー枠追加 */


/*20141002ブランド枠追加*/

.linkBox .brand2014_canada {
	font-size: 14px;
	font-weight: bold;
	width:738px;
	border: 1px solid #dbdbdb;
	border-radius: 7px;
	height: auto;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 10px;
}
.linkBox .brand2014_c_title {
	width:738px;
	background-image:url(/sharing/common14/images/bg01.gif);
	border-bottom: 1px solid #dbdbdb;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: #4c4c4c;
	font-size: 14px;
	height: auto;
	padding: 8px 0 8px 15px;
	vertical-align: text-bottom;
}
.linkBox .brand2014_c_title span {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	display: inline-block;
	vertical-align:middle;
	margin: 3px 0 2px 5px;
	padding-left: 10px;
}
.linkBox .brand2014_c_brandcont {
	width:710px;
	height:104px;
	margin:0 auto;
	border-bottom:2px solid #f4f4f4;
}
.linkBox .brand2014_c_brandcont li {
	font:14px bold;
	display:list-item;
	line-height:2em;
}
.linkBox .brand2014_image {
	width:105px;
	margin-left:20px;
	margin-right:30px;
	float:left;
}
.linkBox .brand2014_text {
	font-size: 14px;
	position: relative;
	top: 25px;
}
.brand2014_image img {
	margin-top:20px;
}
.linkBox .brand2014_c_brandcont li p {
	color:#0066cc;
	font-weight: bold;
	font-size: 16px;
	font-weight: bolder;
	margin:10px 0 5px 0;

}
.linkBox .brand2014_c_ul {
	width:710px;
	margin:0 auto 10px 4px;

}
.linkBox .brand2014_c_ul li {
	background-image:none;
	}
.linkBox .brand2014_c_ul a:hover li{
	color:#ff9933;
	}

.brand2014_c_ul a:hover .brand2014_text p{ text-decoration:none !important; color:#FF9900;}


p.tourNumList span:after {
    content: "件";
	color: #4c4c4c;
	font-style: normal;
	font-size: 1.4rem;
    font-size: 14px;
}
